graphviz==0.11.1
numpy==1.22.0
opencv-contrib-python==4.1.0.25
py==1.8.0
pydot==1.4.1
PySide2==5.11.0
pytest==5.0.1
scikit-surgerycore==0.1.5
scikit-surgeryimage==0.5.1
scikit-surgeryvtk==0.8.0
tqdm==4.32.1
vtk==8.2.0
